<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti autem
        repudiandae exercitationem quaerat, labore dicta non quo ad! Ducimus
        molestias et nobis illum doloribus voluptatibus maxime nesciunt qui
        quasi quidem!
      </p>
      <form action="" class="form-inline mb-5 d-flex gap-2 mt-3">
        <label class="form-group col-md-5">
          <input
            type="text"
            class="form-control subsc-input shadow-effect"
            placeholder="Your Name"
          />
        </label>
        <label class="form-group col-md-5">
          <input
            type="email"
            class="form-control subsc-input shadow-effect"
            placeholder="Email Address"
          />
        </label>
        <button type="submit" class="btn btn-info btn-block btn-sub">
          SUBSCRIBE
        </button>
      </form>
    </div>
  </div>
</div>
