<div class="card shadow-effect container mt-5 mb-5">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto w-75">
        Subscribe to get our latest recipes, cooking tips, and foodie
        inspiration delivered straight to your inbox!
      </p>
      <form action="" class="d-flex flex-column flex-md-row gap-2 mt-3 mb-5">
        <label class="form-group col-md-5">
          <input
            type="text"
            class="form-control subsc-input shadow-effect subsc-input-text"
            placeholder="Your Name"
          />
        </label>
        <label class="form-group col-md-5">
          <input
            type="email"
            class="form-control subsc-input shadow-effect subsc-input-text"
            placeholder="Email Address"
          />
        </label>
        <button type="submit" class="btn btn-info btn-block btn-sub">
          SUBSCRIBE
        </button>
      </form>
    </div>
  </div>
</div>
