<div class="bg-theme text-white p-5">
  <div class="container">
    <h1>General Knowledge</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ducimus
      quo, vel nulla unde totam enim
    </p>
  </div>
</div>

<div class="container my-5">
  <div class="row gy-3">
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4">
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
