<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse justify-content-center show">
    <ul class="navbar-nav d-flex flex-row gap-3">
      <li class="nav-item">
        <a href="" class="nav-link">Ukrainian cuisine</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Italian cuisine</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Georgian cuisine</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Chinese cuisine</a>
      </li>
    </ul>
  </div>
</nav>
