<div class="card my-5 shadow-effect">
  <div class="card-body">
    <h4 class="my-3">Comments (15,256)</h4>

    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">LAST UPDATED - SEP 20, 2024</small>
      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
        laudantium, reprehenderit aperiam veniam nemo rerum repellat repudiandae
        cumque. Labore, accusantium aliquid minus unde officia vel. Blanditiis
        distinctio incidunt veniam dolore!
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ms-3">View Reply</a>
      <hr />
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John Doe</h6>
      <small class="text-danger">LAST UPDATED - SEP 20, 2024</small>
      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
        laudantium, reprehenderit aperiam veniam nemo rerum repellat repudiandae
        cumque. Labore, accusantium aliquid minus unde officia vel. Blanditiis
        distinctio incidunt veniam dolore!
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ms-3">View Reply</a>
      <hr />
    </div>
  </div>
</div>
