<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <img
          src="{{ postData?.postImgPath }}"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body shadow-effect">
          <small class="bg-light text-danger text-center ms-2">{{
            postData?.category?.category
          }}</small>
          @if(postData?.isFeatured){
          <small class="bg-light text-sucess text-center ms-2">Featured</small>
          }

          <small class="bg-light text-info text-center ms-2"
            >Views-{{ postData?.views }}</small
          >
          <small class="bg-light text-warning text-center ms-2"
            >LAST UPDATED - {{ postData?.createdAt?.toMillis() | date }}</small
          >
          <h1 class="my-3">{{ postData?.title }}</h1>
          <p [innerHTML]="postData?.content"></p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comments-list></app-comments-list>
    </div>

    <div class="col-md-3">
      @for(post of similarPosts; track post.id){
      <app-post-card [postData]="post"></app-post-card>
      }
    </div>
  </div>
</div>
