<footer>
  <div class="container">
    <div
      class="d-flex flex-column gap-3 justify-content-center align-items-center"
    >
      <a href="#" class="site-logo">RECIPE-BLOG</a>
      <ul class="nav justify-content-center d-flex flex-row gap-3">
        <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a routerLink="/terms-conditions" class="nav-link"
            >Terms & Conditions</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/contact-us" class="nav-link">Contacts</a>
        </li>
      </ul>
      <p class="mb-2 mt-2">Copyright &#169; 2025 Recipe Blogsite</p>
    </div>
  </div>
</footer>
